body {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 767px) {
  .info-section {
    margin: 1em !important;
  }
  #img-div {
    padding: 1em 0 0.5em 0 !important;
  }
  .info-section-title {
    font-size: 1.25rem !important;
  }
}
#main {
  margin: 1.5em;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 1em;
}

#title {
  font-size: 2rem;
  font-weight: bold;
}
#img-div {
  margin: 0 10%;
  padding: 4em 0 0.5em 0;
}

#image-caption {
  text-align: center;
  padding: 0.5em 0;
}

#image {
  width: 100%;
  border-radius: 6px;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header {
  text-align: center;
  margin: 2rem 0;
}

.section {
  background-color: white;
}

.info-section {
  margin: 1em 20%;
}
.info-section-title {
  font-size: 1.5em;
  padding: 1em;
}
.timeline-list {
  list-style-type: disc;
}
.timeline-list-item {
  padding-bottom: 1.25em;
}
.year {
  font-weight: 600;
  padding-right: 5px;
}
